<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMC App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/3a5999d18b.js" crossorigin="anonymous"></script>
    <link href="~/Content/Dashboard.css" rel="stylesheet" />
</head>
<body>
   
    
    <div class="side-bar">
        <div class="link-container"><a href="#"><i class="fas fa-user fa-5x"></i><p>Account</p></a></div>
        <a href="#"><i class="fas fa-user-md fa-5x"></i><p>Doctors</p></a>
        <a href="#"><i class="fas fa-vial fa-5x"></i><p>Your Tests</p></a>
        <a href="#"><i class="fas fa-calendar-check fa-5x"></i><p>Book Appointment</p></a>
    </div>
    <div class="main">
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab1">View Appointments</a></li>
                <li><a data-toggle="tab" href="#tab2">View Medicare Services</a></li>
                <li><a data-toggle="tab" href="#tab3">View Doctors</a></li>
                <li><a data-toggle="tab" href="#tab4">View Agents</a></li>
                <li><a data-toggle="tab" href="#tab4">View Test Results</a></li>
            </ul>
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
