@model Diagnostic_Medical_Center.Models.tempModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RolesListView</title>
</head>
<body>
<div>
    @using (Html.BeginForm("RoleRegister","Samz", FormMethod.Post))
    {
        foreach (var item in Model.ListOfRoles)
        {
            @Html.RadioButtonFor(m => m.SelectedAnswer, item.UserRoleName, new {@id = item.UserRoleName})
            @Html.Label(item.UserRoleName.ToString())
        }

        <input type="submit" formaction="@Url.Action("RoleRegister", "Samz")" value="Register"/>
    }

</div>
</body>
</html>
3