

.side-bar{
    left: 0;
    top: 0;
    z-index: 1;
    padding-top: 100px;
    width: 140px;
    background-color: #1f8aaa;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.main{
    margin-left: 40px;
    margin-top: 10px;
}

.side-bar i{
    font-size: 30px;
    padding-bottom: 5px;
    color: antiquewhite;
}

.side-bar a{
    padding: 10px 10px;
    font-size: 12px;
    line-height: 1.2em;
    text-decoration: none;
    color:aliceblue;
}

.tab-content{
    margin-top:10px; 
}

ul.nav.nav-tabs li:not(.active) a{
    background-color: #ffffff;
    color: grey;
}

ul.nav.nav-tabs li.active a {
    border-top: 3px solid #1f8aaa;
    background-color: #ffffff;
    color: #0188b4;
}