@model IEnumerable<Diagnostic_Medical_Center.Models.Doctor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDoctorsList</title>

    <style>
        .grid {
            display: grid;
            grid-template-rows: repeat(auto-fill,minmax(100px,1fr));
            grid-gap: 2rem;
            font-family: 'Muli', sans-serif
        }

        .grid > div {
            background: grey;
            padding: 1rem;
        }

        .content {
            font-weight: 200;
            text-align: center;
            font-size: 12px;
            padding-top: 5px;
        }

        .content a{
            color: white
        }
    </style>
    <script src="https://kit.fontawesome.com/3a5999d18b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;800&display=swap" rel="stylesheet">
</head>
<body>
 

        <div class="panel-group" id="accordion">
            @foreach (var item in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fas fa-user-md fa-3x"></i>
                            <a data-toggle="collapse" data-parent="#accordion" href="#@item.DoctorId">@item.DoctorId</a>
                        </h4>
                    </div>
                    <div id="@item.DoctorId" class="panel-collapse collapse">
                        <div class="panel-body">
                            @Html.Action("GetDoctorDetails", "Patients", new { @id = item.DoctorId })
                        </div>
                    </div>
                </div>
            }
        </div>

        @section scripts
        {
            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script src="~/Scripts/bootstrap.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
        }
</body>
</html>
